<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ab1ab">  <td>18/11/18 13:49:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CL.createLead()[pri:0, instance:week5.day1learnings.TC001_CL@6fc6f14e]">createLead</td> 
  <td>main@846238611</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/11/18 13:49:31</td>   <td>-465</td> <td title="&gt;&gt;Reporter.startResult()[pri:0, instance:week5.day1learnings.TC001_CL@6fc6f14e]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@846238611</td>   <td></td> </tr>
</table>
