<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8e73b0">  <td>18/11/18 14:26:07</td>   <td>0</td> <td title="&gt;&gt;CreateReporter.start()[pri:0, instance:week5.day1learnings.TC001_CL@56235b8e]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1033490990</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/11/18 14:26:07</td>   <td>471</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_CL.setData()[pri:0, instance:week5.day1learnings.TC001_CL@56235b8e]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1033490990</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/11/18 14:26:07</td>   <td>490</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateReporter.startTestCase()[pri:0, instance:week5.day1learnings.TC001_CL@56235b8e]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@1033490990</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/11/18 14:26:07</td>   <td>502</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week5.day1learnings.TC001_CL@56235b8e]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1033490990</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/11/18 14:26:30</td>   <td>23206</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CL.createLead()[pri:0, instance:week5.day1learnings.TC001_CL@56235b8e]">createLead</td> 
  <td>main@1033490990</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/11/18 14:26:40</td>   <td>33134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.browserclose()[pri:0, instance:week5.day1learnings.TC001_CL@56235b8e]">&lt;&lt;browserclose</td> 
<td>&nbsp;</td>  <td>main@1033490990</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/11/18 14:26:42</td>   <td>35369</td> <td title="&lt;&lt;CreateReporter.stopResult()[pri:0, instance:week5.day1learnings.TC001_CL@56235b8e]">&lt;&lt;stopResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1033490990</td>   <td></td> </tr>
</table>
